<footer class="site-footer">
  <div class="row">

    <div class="column medium-6 large-6">
      <section class="font-tiny">
        &copy; {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a> -
        Powered by <a href="https://ghost.org">Ghost</a>
      </section>
    </div>

    <div class="column medium-6 large-6">
      <section>
        <ul class="social-nav">
          <li>
            <a href="https://twitter.com/ruddraarnab" target="_blank">
              <span data-icon="ei-sc-twitter" data-size="s"></span>
            </a>
          </li>
          <li>
            <a href="https://plus.google.com/u/0/+RuddraArnab" target="_blank">
              <span data-icon="ei-sc-google-plus" data-size="s"></span>
            </a>
          </li>
          <li>
            <a href="/privacy-policy/">
              <span data-icon="ei-user" data-size="s"></span>
            </a>
          </li>
          <li>
            <a href="/rss/index.rss" target="_blank">
              <span data-icon="ei-chart" data-size="s"></span>
            </a>
          </li>
        </ul>
      </section>
    </div>

  </div>
</footer>