<footer class="site-footer">
  <div class="row">

    <div class="column medium-6 large-6">
      <section class="font-tiny">
        &copy; {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a> -
        Powered by <a href="https://ghost.org">Ghost</a>
      </section>
    </div>

    <div class="column medium-6 large-6">
      <section>
        <ul class="social-nav">
          <li>
            <a href="#" target="_blank">
              <span data-icon="ei-sc-twitter" data-size="s"></span>
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <span data-icon="ei-sc-facebook" data-size="s"></span>
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <span data-icon="ei-sc-instagram" data-size="s"></span>
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <span data-icon="ei-sc-github" data-size="s"></span>
            </a>
          </li>
        </ul>
      </section>
    </div>

  </div>
</footer>