<div class="header-wrapper">

  <header>
    <h1 class="logo"><a href="https://ruddra.com">{{@blog.title}}</a></h1>
  </header>

  <label for="menu-toggle" class="menu-toggle-button">Menu</label>
  <input type="checkbox" id="menu-toggle">

  <div class="site-nav">
    <nav>
      <ul class="list-bare">
        {{#foreach navigation}}
        <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url}}">{{label}}</a></li>
        {{/foreach}}
      </ul>
    </nav>
  </div>

</div>