<nav class="pagination" role="navigation">
  {{#if prev}}
  <a class="newer-posts" href="{{page_url prev}}"><div data-icon="ei-chevron-left"></div> Newer Posts</a>
  {{/if}}
  {{#if next}}
  <a class="older-posts" href="{{page_url next}}">Older Posts <div data-icon="ei-chevron-right"></div></a>
  {{/if}}
</nav>